

<div class="container">
	<div class="br-pagebody mt-30 mb-30">
  		<div class="br-section-wrapper mg-b-30">
    		<div class="headers mg-b-5">
    			<h2>Nouvelle page</h2>
                <hr />
    		</div>
    		<div class="section-body">
      			<div class="row">
        			<div class="col">
						
						<%= render 'form', page: @page %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>