<footer class="site-footer">
	<div class="site-info">
		<span class="copyright">
			<p class="text-center">
				&copy; <%= "#{Time.now.year}" %> — Make with <i class="fa fa-heart" style="color: red;"></i> and  <i class="fa fa-coffee" style="color: #7b5050;"></i>  by <span class="--highlight"><strong>Softwinds Technologies S.A.R.L</strong></span></p>
		</span>
		
	</div><!-- .site-info -->
</footer>