<footer class="site-footer">
	<div class="site-info">
		<span class="copyright">
			<p class="text-center">
				&copy; <%= "#{Time.now.year} #{APPLICATION_NAME}. Tous droits réservés"  %>   </p>
		</span>
		
	</div><!-- .site-info -->
</footer>