<section class="hero">
	<div class="hero-overlay">
		<!-- Old header -->
		<div class="hero-content">
			<div class="container">
				<div class="row align-items-lg-center">
					<div class="col-lg-12 text-center">
						<div class="hero-content-title">
							<h1 class="display-4 text-bold">
							<!-- Dynamisez votre communication grâce à notre API SMS. -->
								Commandez et nous livrons!
							</h1>
						</div>

						<p class="text-gray-soft text-regular">
							<!-- Cabinet médicaux, Poly Pharmacies,  Hôpiptaux ... -->
							<!-- <p>Appartement, Bureau, etc...</p> -->
						</p>
						<p>
						<%= render "searches/partials/search_bar"%>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
