<section class="section how-it-works">
    <div class="container has-text-centered">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title has-text-centered">Comment ça marche</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "molecule_services_image_location.svg" %> 
                <h3 class="title mvs is-size-3">Sélectionnez votre zone de livraison</h3>
                <p class="">Renseignez l'adresse où vous souhaitez être livré</p>
            </div>

            <div class="col-md-4"> 
                <%= image_tag "how-it-works-2.svg" %> 
                <h3 class="title mvs is-size-3">Choisissez votre produits</h3>
                <p>Parcourir les enseignes qui livrent près de chez vous</p>
            </div>

            <div class="col-md-4">
                <%= image_tag "how-it-works-3.svg" %> 
                <h3 class="title mvs is-size-3">Recevez-le à votre porte</h3>
                <p>Votre commande vous sera livrée en un rien de temps</p>
            </div>
        </div>
    </div>
</section>