<div class="card">
  <div class="card-body text-center">
				<%= form_with(url: advanced_search_path, method: "get", class: "search-form", local: true) do |f| %>

				<div class="row ">

					
					<div class="col-md-3">
						<div class="form-group">
							<%= f.collection_select(:city,  @cities, :name, :name, {prompt: "Ville", selected: (@city.name if @city.present?)}, class: "form-control", style: "width: 100%;" ) %>
				  	</div>
				  </div>

					 
			
							<div class="col-md-6">
					  		<div class="form-group">
								
					  			<%= f.text_field(:term, placeholder: "Rechercher nourriture ou restaurant...",  class: "form-control", term: (@term.present? ? @term : "")) %>
					  		</div>
					  	</div>
						<div class="col-md-3">
							<div class="form-group">
					  			<%= f.submit("RECHERCHER", class: "btn btn-primary btn-block") %>
							</div>
						</div>

				

				  
				  </div>
				<% end %>
				
			</div>
            </div>